/* 公用样式 */
*{
    margin: 0 ;
    padding: 0px;
}

body{
    font:14px  "HanHei SC","PingFang SC","Avenir Next",Avenir,"Helvetica Neue",Helvetica,"Lantinghei SC","Hiragino Sans GB","Microsoft YaHei",微软雅黑,STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;
    font-weight: 400;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.topbar{
    background-color:#333;
    height: 40px;
    font-size: 12px;
    color: white;
    line-height: 40px; 
}
/* 公共居中class */
.wrapper{
    height: 40px;
    width: 1200px;
    /* background-color: rgb(185, 235, 48); */
    /* 块级元素水平居中 */
    margin: 0 auto;
}
/* 行元素或文字在父元素垂直居中 */
.topbar-list{
    height: 40px;
    /* text-align: center; */
    float: left;
}

.topbar a{
    color: white;
    text-decoration: none;
}

.topbar a:hover{
    color: #ddd;
}

.top-bar span{
    margin: 0 2px;
}

.topbar-info{
    float: right;
}

/* head开始 */
.header{
    height: 100px;
    /* background-color: red; */
}

.logo{
    float: left;
    margin-top: 23px;
    margin-bottom: 22px;
}

.logo img{
    height: 55px;
    width: 187px;
}

.nav{
    float: right;
    margin: 36px -23px 0 0;
}

.nav > li{
    float: left;
    padding: 0 23px;
}

.nav > li .nav-list{
    color: #212121;
    font-size: 18px;
}

.nav-list a:hover{
    color: red;
}
/* head结束 */