/* 公用样式 */
*{
    margin: 0 ;
    padding: 0px;
}

body{
    font:14px  "HanHei SC","PingFang SC","Avenir Next",Avenir,"Helvetica Neue",Helvetica,"Lantinghei SC","Hiragino Sans GB","Microsoft YaHei",微软雅黑,STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;
    font-weight: 400;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.topbar{
    background-color:#333;
    height: 40px;
    font-size: 12px;
    color: white;
    line-height: 40px; 
}
/* 公共居中class */
.wrapper{
    /* height: 40px; */
    width: 1200px;
    /* background-color: rgb(185, 235, 48); */
    /* 块级元素水平居中 */
    margin: 0 auto;
}
/* 行元素或文字在父元素垂直居中 */
.topbar-list{
    height: 40px;
    /* text-align: center; */
    float: left;
}

.topbar a{
    color: white;
    text-decoration: none;
}

.topbar a:hover{
    color: #ddd;
}

.topbar span{
    margin: 0 3px;
}

.topbar-info{
    float: right;
}

/* head开始 */
.header{
    height: 100px;
    background-color: white;
}

.logo{
    float: left;
    margin-top: 23px;
    margin-bottom: 22px;
}

.logo img{
    height: 55px;
    width: 187px;
}

.nav{
    height: 44px;
    float: right;
    margin: 28px -23px 0 0;
    /* line-height: 44px; */
}

.nav > li{
    float: left;
    padding: 0 23px;
}

.nav > li .nav-list{
    color: #212121;
    font-size: 18px;
    line-height: 44px;
}

.nav .nav-list:hover{
    color: red;
}

.nav-sub-list{
    position: absolute;     /*相对于最近已定位的祖先元素*/
    top: 43px;
    left: -32px;
    background-color: white;
    width: 150px;
    height: 102px;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
}

.nav-sub-list{
    display: none;
}

.nav-sub-list ul{
    padding: 10px 0;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

.nav-sub-list li{
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
}

.nav-sub-list li a{
    color: #434343;
}

.nav-money{
    position: relative;
}

.nav-money:hover .nav-sub-list{
    display: block;
}

.nav-sub-list li:hover{
    background: #eee;
}

.nav-sub-list li:hover a{   /*当lihover的时候a标签变色*/
    color: red;
}

.nav-sub-list::before{
    content: "";
    position: absolute;
    left: 72px;
    top:-5px;
    width: 7px;
    height: 7px;
    border:  1px solid #e5e5e5;
    /* transform css3 变形 */
    transform: rotate(45deg);
    border-right-color: transparent;
    border-bottom-color: transparent;
    background-color: white;
} 

/* .nav-sub-list::before{
    display: block;
    content: "◆";
    font-size: 14px;
    position: absolute;
    left: 72px;
    top: -22px;
    color: #E5E5E5;
} */
/* head结束 */

/* banner开始 */
.banner{
    height: 640px;
    background: url(./images/index_banner.jpg) center;
}

.banner h2{
    color: white;
    font-size: 54px;
    font-weight: 300;
    text-align: center;
    padding-top: 193px;
}

.download_btn{
    text-align: center;
    margin-top: 36px;   
}

.download_btn a{
    color: white;
    font-size: 24px;
    background-color: #F93F2B;
    width: 260px;
    height: 60px;
    display: inline-block;
    line-height: 60px;
    border-radius: 5px;
}
/* banner结束 */

/* conten开始 */
.content{
    width: 1170px;
    /* height: 392px; */    /* 边距超出去掉后会父元素塌陷*/
    border: 1px solid #e6e6e6;
    background-color: white;
    margin-top: -80px;
    padding: 30px 0 30px 30px;  /*原来是统一30px，计算li的边距时重新计算*/
    overflow: hidden;   
}

.list{
    width: 360px;
    background-color: white;
    float: left;
    margin-right: 30px;     /*重新计算conten边距*/
}

.list-img{
    height: 180px;
    background: url(./images/index_lc.png) 0 0 no-repeat;
    /* css3新增语法  设置图片大小*/
    background-size: 360px 180px;
    overflow: hidden;
}

.list-title{
    color: white;
    font-size: 33px;
    font-weight: 400;
    margin: 44px 0 0 30px;
}

.list-desc{
    color: white;
    font-size: 33px;
    font-weight: 300px;
    margin: 16px 0 0 30px ;
}

.list-info{
    padding: 10px 30px;
    color: #666;
    font-size: 16px;
}

.list-info span{
    color: #ea5600;
}

.list-info div{
    margin: 15px 0;
}

/* 直接用.list-more出现优先级问题 */
.list-info div.list-more{
    border-top: 1px solid #ececec;
    font-size: 16px;
    color: #fd3911;
    text-align: center;
    margin: 40px 0 10px;
    height: 62px;
    line-height: 62px;
}

.list-dk .list-img{
    background: url(./images/index_dk.png) 0 0 no-repeat;
}

.list-dk .list-info span{
    color: #4481c8;
}

.list-bx .list-img{
    background: url(./images/index_bx.png) 0 0 no-repeat;
}

.list-bx .list-info span{
    color: #0DB27B;
}

/* content结束 */
